.p-calendar {
  .p-datepicker {
    .p-datepicker-group-container {
      table {
        td {
          padding: 0.15rem;
          text-align: center;
        }
        th {
          padding: 0.15rem;
          text-align: center;
        }
      }
    }
  }
}
