.p-select.p-select-sm {
  .p-select-label {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .p-select-clear-icon {
    right: 2rem;
  }
  .p-select-trigger {
    width: 2rem;
  }
}

.p-select-header {
  .p-select-filter-container {
    .p-select-filter {
      padding: 0.5rem 0.75rem;
    }
  }
}

.p-autocomplete-panel {
  .p-autocomplete-items {
    padding: 0.75rem;
  }
}

.p-autocomplete {
  &.p-autocomplete-multiple {
    .p-autocomplete-multiple-container {
      padding: 0.125rem 0.75rem;
      .p-autocomplete-token {
        padding: 0.375rem 0.75rem;
        background: #3b82f6;
        color: #ffffff;

        > span {
          line-height: 1;
        }
      }
      .p-autocomplete-input-token {
        > input {
          &::placeholder {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.p-multiselect {
  --p-chip-background: var(--p-primary-100);
  &.p-multiselect-sm {
    .p-multiselect-label-container {
      height: 30px;
      display: flex;
      align-items: center;
    }
    .p-multiselect-label {
      padding-top: 4.5px;
      padding-bottom: 4.5px;
    }
  }
}

.p-multiselect-panel {
  .p-multiselect-header {
    padding: 0.5rem 1.25rem;
  }
  .p-multiselect-items-wrapper {
    .p-multiselect-items {
      .p-multiselect-item {
        padding: 0.5rem 1.25rem;
      }
    }
  }
}

.p-select-panel {
  .p-select-items-wrapper {
    .p-select-items {
      .p-select-item {
        padding: 0.5rem 1.25rem;
      }
    }
  }
}

.p-multiselect {
  &.p-multiselect-chip {
    .p-multiselect-label-container {
      .p-multiselect-label {
        padding: 0.25rem 0.75rem;
        .p-multiselect-token {
          padding: 0.375rem 0.75rem;
          background: #3b82f6;
          color: #ffffff;
          > span {
            line-height: 1;
          }
        }
      }
    }
  }
}
