$font-family: "Montserrat";
$spacer: 4px;
$gutter: 1rem; //for primeflex grid system
/* General */
$scale: 14px; /* main font size */
$borderRadius: 12px; /* border radius of layout element e.g. card, sidebar */
$transitionDuration: 0.2s; /* transition duration of layout elements e.g. sidebar, overlay menus */
$primaryColor: #3b82f6;
$dangerColor: #ef4444;
$helpColor: #9333ea;
$successColor: #16a34a;
$secondaryColor: #64748b;
$warningColor: #d97706;
